/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f6faf7;
}

/* App */
.app {
  min-height: 100vh;
}

/* Header */
.header {
  height: 250px;
  background-image: url("https://images.unsplash.com/photo-1546069901-ba9599a7e63c");
  background-size: cover;
  background-position: center;
}

/* Container */
.container {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
  text-align: center;
}

/* Title */
.container h1 {
  color: #2f6b4f;
  letter-spacing: 3px;
  margin-bottom: 15px;
}

.subtitle {
  color: #555;
  font-size: 14px;
  max-width: 500px;
  margin: auto;
  margin-bottom: 40px;
}

/* Form */
.form-box {
  background: #dff1e6;
  padding: 30px;
  border-radius: 25px;
  margin-bottom: 50px;
}

.form-box form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-box input,
.form-box textarea {
  padding: 12px 18px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

.form-box textarea {
  border-radius: 18px;
  resize: none;
}

/* Buttons */
button {
  background: #2f6b4f;
  color: white;
  border: none;
  padding: 12px 35px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #24563f;
}

.small-btn {
  padding: 7px 20px;
  font-size: 13px;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 50px;
}

.card {
  background: #dff1e6;
  padding: 25px;
  border-radius: 20px;
}

.card h3 {
  color: #2f6b4f;
  margin-bottom: 8px;
}

.card span {
  font-size: 12px;
  color: #666;
}

/* Explore */
.explore p {
  max-width: 550px;
  margin: auto;
  margin-bottom: 15px;
  font-size: 14px;
  color: #555;
}

/* Footer */
footer {
  background: #2f6b4f;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
}

footer span {
  margin: 0 12px;
  cursor: pointer;
}