.header {
  
    
  background-position: center;
  padding: 40px 20px 30px;
  border-radius: 0 0 40px 40px;
  margin-bottom: 25px;
  text-align: center;
}

.header h1 {
  color: #2f6f55;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 2px;
}

.header .subtitle {
  color: #6f9f8d;
  font-size: 13px;
  margin-top: 6px;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* PAGE */
.page {
  min-height: 100vh;
  background: 
    linear-gradient(rgba(247, 251, 249, 0.3), rgba(247, 251, 249, 0.3)),
    url("https://images.unsplash.com/photo-1504674900247-0877df9cc836");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 20px;
}


/* TITLE */
h1 {
  text-align: center;
  color: #2f6f55;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
}

.subtitle {
  text-align: center;
  color: #7ea99a;
  font-size: 13px;
  margin: 8px 0 25px;
}

/* FORM */
.form {
  max-width:600px;
  margin: auto;
}
/* CARD */
.card {
  background: #e8f6ee;
  border-radius: 28px;
  padding: 22px 18px;
  margin-bottom: 18px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.04);
}

.card h2 {
  text-align: center;
  color: #2f6f55;
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 18px;
}

/* INPUTS */
input[type="text"] {
  width: 100%;
  padding: 10px 18px;
  margin-bottom: 14px;
  border-radius: 30px;
  border: none;
  background: #ffffff;
  outline: none;
  font-size: 13px;
  color: #2f6f55;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
}

input::placeholder {
  color: #9bbdb0;
}

/* RADIO BUTTONS */
.radio-row {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 13px;
  color: #2f6f55;
}

.radio-row label {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* CHECKBOX & RADIO COLUMN */
.radio-col label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  font-size: 13px;
  color: #2f6f55;
}

/* UPLOAD BOX */
.upload {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d5ede2;
  padding: 15px;
  border-radius: 18px;
  cursor: pointer;
  font-size: 12px;
  color: #2f6f55;
  margin-top: 10px;
}

/* DAYS GRID */
.days {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  font-size: 12px;
  color: #2f6f55;
}

/* INFO CARD */
.info {
  text-align: center;
  font-size: 12px;
  color: #2f6f55;
  line-height: 1.8;
}

/* SUBMIT BUTTON */
.submit {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 35px;
  background: linear-gradient(145deg, #2f6f55, #4a9a79);
  color: white;
  font-size: 13px;
  letter-spacing: 2px;
  cursor: pointer;
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;
}

.submit:hover {
  opacity: 0.9;
}

/* SMALL HEADINGS */
h4 {
  margin: 10px 0 6px;
  font-size: 13px;
  color: #2f6f55;
  letter-spacing: 1px;
}
